
.header {
  background: grey;
  color: white;
  padding: 10px;
  text-align: left;
  }

  .subheader { 
    font-weight: bold;
  }

  .container {
    max-width: fit-content; 
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    gap: 10px;
  }

.card {
  width: 100%; 
}

@media (max-width: 500px) {
  .container{
    grid-template-columns: 1fr;
  }
  
}

/* card colors of birds */

.card:nth-last-of-type(9)
{
  background-color: orange;

}

.card:nth-last-of-type(8)
{
  background-color: pink;
}

.card:nth-last-of-type(7)
{
  background-color: aqua;
}

.card:nth-last-of-type(6)
{
  background-color: yellow; 

}

.card:nth-last-of-type(5)
{
  background-color: #fcf57c;
}

.card:nth-last-of-type(4)
{
  background-color: lightpink;
 
}

.card:nth-last-of-type(3)
{
  background-color:#BC3908
}

.card:nth-last-of-type(2)
{
  background-color: lightyellow
}

.card:nth-last-of-type(1)
{
  background-color: #CCAD8F
}